.container {
	@apply flex flex-col;
	width: 480px;
	height: 600px;
	border: 1px solid #38435f;
	border-radius: 6px;
	margin-bottom: 15px;
}

.header {
	padding: 10px 0;
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 1px solid #38435f;
	background-color: #232a3a;
	margin-bottom: 20px;
}

.message__list {
	@apply flex flex-col;
	font-size: 18px;
}

.user__message {
	@apply self-start px-4 py-1 ml-2 mt-2;
	background-color: #3a4560;
	border-radius: 6px;
}

.master__message {
	@apply self-end px-4 py-1 mr-2 mt-2;
	background-color: #252c3d;
	border: 1px solid #2d3447;
	border-radius: 6px;
}

.input__message {
	@apply flex items-center justify-between;
	padding: 8px;
	border-top: 1px solid #333d55;
}

.input {
	@apply p-2;
	background-color: #1b202b;
	border-radius: 6px;
	resize: none;
	height: 40px;
	width: 89%;
	transition: background-color 0.3s;

	&:focus,
	&:hover {
		background-color: #232a3a;
	}
}

.icon__send {
	@apply mr-1 p-2;
	height: 40px;
	width: 40px;
	background-color: #232a3a;
	border-radius: 100%;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover {
		background-color: #303a51;
	}
}

.button {
	@apply self-end px-3 py-1;
	width: 140px;
	cursor: pointer;
	border-radius: 6px;
	background-color: #434e62;
	transition: background-color 0.3s;
}
